html {
    background-image: url("images/background.png");
    margin: 0;
}
body {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background: #101220;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

a:link,
a:visited,
a:active {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: violet;
}
.list {
    list-style-type: none;
}
.listhead {
    color: rgb(158, 118, 177);
    font-size: 24px;
}
.dropdown {
    margin-top: 24px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(39, 39, 39);
    border-style: solid;
    border-color: rgb(158, 118, 177);
    min-width: 180px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

span {
    margin-left: 40px;
}

li {
    margin: 8px 0;
}

img {
    height: 10em;
    margin: 0 -50% 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img:hover {
    filter: grayscale(100%) brightness(250%);
}

.blogpost {
    border-style: solid;
    border-color: rgb(158, 118, 177);
    text-align: center;
    margin-bottom: auto;
    margin-left: 30px;
    margin-right: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: smaller;
    color: rgb(158, 118, 177);
}
.scriptlink {
    font-size:x-large;
}