body {
    color: #ffffff; 
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background: #171717;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: smaller;
    color: #734F96;
    animation-name: footer;
    animation-duration: 1s;
}
a:link,
a:visited,
a:active {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: #734F96;
}

/*Animations */

@keyframes icon {
    from {opacity:0;}
    to {opacity:1;}
}
@keyframes drops {
    from {transform: translateX(-400%);}
    to {transform: translateX(0%);}
}
@keyframes dropout {
    from {transform: translateX(0%);}
    to {transform: translateX(-400%);}
}
@keyframes footer {
    from {transform: translateY(100%);}
    to {transform: translateY(0%);}
}

/*Dropdown Menus */

.listhead {
    color: #734F96;
    font-size: 24px;
}
.dropdown {
    margin-top: 12px;
    position: relative;
    display: inline-block;
    background:#171717;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 180px;
    z-index: 1;
    animation-fill-mode: backwards;
}
.dropdown-content li {
    overflow: hidden;
    white-space: nowrap;
}
.dropdown-content img {
    height:1em;
}
.dropdown:hover .dropdown-content {
    display: block;
    animation-name: drops;
    animation-duration: 0.75s; 
}
span {
    margin-left: 40px;
}
li {
    margin: 11px 0;
}

/*Center icons */

.icon img {
    height: 10em;
    margin: 0 -50% 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: icon;
    animation-duration: 1s;
}
.icon img:hover {
    filter: grayscale(100%) brightness(250%);
}

/*Specific to writeups */

.blogpost {
    border-style: solid;
    border-color: #734F96;
    text-align: center;
    margin-bottom: auto;
    margin-left: 30px;
    margin-right: 30px;
}

.blogtext {
    text-align:left;
    margin-left:10%;
    margin-right:30%;
}
.scriptlink {
    font-size:x-large;
    text-align:center;
} 
  .column {
    float: left;
    padding: 10px;
  }
  .right img {
    max-width:100%;
    max-height:auto;
    margin: 0;
    position: relative;
  }
  .pic_caption {
  padding: 10px 20px;
  }

  .left {
    width: 65%;
  }
  
  .right {
    width: 35%;
    margin-top:15%
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  figcaption {
    font-style:italic;
    margin-bottom:20%;
}