html {
    background-image: url("images/background.png");
    margin: 0;
}
* {
    box-sizing: border-box;
  }
body {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background: #101220;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

a:link,
a:visited,
a:active {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: violet;
}
.list {
    list-style-type: none;
}
.listhead {
    color: rgb(158, 118, 177);
    font-size: 24px;
}
.dropdown {
    margin-top: 24px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(39, 39, 39);
    border-style: solid;
    border-color: rgb(158, 118, 177);
    min-width: 180px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

span {
    margin-left: 40px;
}

li {
    margin: 8px 0;
}

.icon img {
    height: 10em;
    margin: 0 -50% 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon img:hover {
    filter: grayscale(100%) brightness(250%);
}

.blogpost {
    border-style: solid;
    border-color: rgb(158, 118, 177);
    text-align: center;
    margin-bottom: auto;
    margin-left: 30px;
    margin-right: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: smaller;
    color: rgb(158, 118, 177);
}

.blogtext {
    text-align:left;
    margin-left:10%;
    margin-right:30%;
}
.scriptlink {
    font-size:x-large;
    text-align:center;
} 
  .column {
    float: left;
    padding: 10px;
  }
  .right img {
    max-width:100%;
    max-height:auto;
    margin: 0;
    position: relative;
  }
  .pic_caption {
  padding: 10px 20px;
  }

  .left {
    width: 65%;
  }
  
  .right {
    width: 35%;
    margin-top:15%
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  figcaption {
    font-style:italic;
    margin-bottom:20%;
}